.body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 10px 20px;
    height: 15vh;
    min-height: 85px;
    background-color: #FFD97D;
    align-items: center;

}
.logo{
    height: 100px;
    width: 100px;
}
.auth-header{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}
.footer{
    background-color: #FFD97D;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    flex-direction: column;
}
.splash-image{
    max-width: 400px;
    max-height: 400px;
    height: auto;
    width: auto;
    margin: 10px auto;
}
.auth-button{
    margin: 5px;
}
.card-container{
    overflow-y: scroll;
    height: 71vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row dense;
}
.food-card{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #AAF683;
    justify-content: center;
    padding: 10px;
    align-items: center;
    border: solid #60D394;
    border-radius: 10px;
    margin: 20px;
}
.modal-container{
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0,0,0, 0.5);
}
.food-modal{
    display: flex;
    flex-direction: column;
    background-color: #AAF683;
    padding: 10px;
    border: solid #60D394;
    border-radius: 10px;
    margin: 20px;
    width: 70%;
    text-align: center;
}
.food-modal-lower{
    display: flex;
}
.exposures-container{
    overflow: scroll;
    height: 350px;
    width: 50%;
}
.single-exposure{
    background-color: #FF9B85;
    border: solid #EE6055;
    border-radius: 10px;
    margin: 20px auto;
    width: 90%;
    padding: 5px 10px;
    height: 150px;
}
.add-exposure-form{
    background-color: #FFD97D;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.add-food{
    background-color: #FF9B85;
    border: solid #EE6055;
    border-radius: 10px;
    margin: 20px auto;
    padding: 5px 10px;
    width: 20%;
    height: 40%;
}
.list-config-pane{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #FF9B85;
    border: solid #EE6055;
    border-radius: 10px;
    margin: 20px auto;
    padding: 5px 10px;
}
.lists-container{
    background-color: white;
    border-radius: 10px;
    overflow: scroll;
    height: 80px;
}
.list-title-tag{
    border: solid black;
    text-align: center;
}
.list-page{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 80vh;
}
.list-food-card-placeholder{
    width: 265px;
}
.list-food-card{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #AAF683;
    justify-content: center;
    padding: 10px;
    align-items: center;
    border: solid #60D394;
    border-radius: 10px;
    margin: 20px;
}
.list-placeholder{
    border: solid black;
    width: 50%;
    margin: 10px;
}
.list{
    width: 100%;
    margin: 10px;
    height: 100%;
}

.filter-pane{
    background-color: #FF9B85;
    border: solid #EE6055;
    border-radius: 10px;
    margin: 20px auto;
    padding: 5px;
    width: 20%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.browse-page{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
}
.browse-lower{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    height: 72vh;
    align-items: center;
}
.search{
    margin: 10px auto;
}
.account-page{
    width: 100vw;
    height: 75vh;
    text-align: center;
}
.login-modal{
    background-color: #AAF683;
    border: solid #60D394;
    border-radius: 10px;
    padding: 10px;
    width: 20vw;
    min-width: 165px;

}
.login-modal h2{
    text-align: center;
}
.login-modal input{
    display: block;
    margin: 0 auto;
}
.sign-up-modal{
    background-color: #AAF683;
    border: solid #60D394; 
    border-radius: 10px;
    padding: 10px;
    width: 20vw;
    min-width: 165px;
}
.sign-up-modal h2{
    text-align: center;
}
.sign-up-modal input{
    display: block;
    margin: 0 auto;
}
.add-to-list-modal{
    background-color: #AAF683;
    border: solid #60D394; 
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    height: 20%;
}
