.body{
    height: 100vh;
    width: 100vw;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 10px 20px;
    height: 15vh;
    background-color: #FFD97D;
    align-items: center;

}
.logo{
    height: 100px;
    width: 100px;
}
.auth-header{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}
.footer{
    background-color: #FFD97D;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    flex-direction: column;
}
.splash-image{
    height: 30%;
    width: 30%;
    margin: 10px auto;
}
.auth-button{
    margin: 5px;
}

.food-card{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #AAF683;
    justify-content: center;
    padding: 10px;
    align-items: center;
    border: solid #60D394;
    border-radius: 10px;
    margin: 20px;
}
.food-modal{
    display: flex;
    flex-direction: column;
    background-color: #AAF683;
    padding: 10px;
    border: solid #60D394;
    border-radius: 10px;
    margin: 20px;
    width: 70%;
    text-align: center;
}
.food-modal-lower{
    display: flex;
}
.exposures-container{
    overflow: scroll;
    height: 350px;
    width: 50%;
}
.single-exposure{
    background-color: #FF9B85;
    border: solid #EE6055;
    border-radius: 10px;
    margin: 20px auto;
    width: 90%;
    padding: 5px 10px;
    height: 150px;
}
.add-exposure-form{
    background-color: #FFD97D;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.add-food{
    background-color: #FF9B85;
    border: solid #EE6055;
    border-radius: 10px;
    margin: 20px auto;
    padding: 5px 10px;
    width: 20%;
}